.content-container .title{
    display: flex;
    align-items: center;
    margin: 40px 0 30px 0;
}
.content-container .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}