.body-content{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .body-content{
    left: 73px;
    width: calc(100% - 73px);
}
.body-content .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .body-content .top{
    left: 73px;
    width: calc(100% - 73px);
}
.body-content .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.body-content .top .auth-box{
    position: relative;
    margin-top: 5px;
    height: 45px;
    max-width: 230px;
    width: 100%;
}
.auth-box .top-button {
    background-color: var(--secondary-color);
    border-radius: 25px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    max-width: none;
    min-height: 40px;
    min-width: 100px;
    outline: none;
    overflow: hidden;
    padding: 8px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.top-button.register {
    background-color: var(--primary-color);
}
.top-button.logout {
    margin-left: 125px;
}    
.top-button:hover,
.top-button:focus {
    opacity: .75;
}
